.content {
  margin: 50px auto;
  width: 800px;
  height: auto;
  min-height: 100%;
  padding-bottom: 70px;
}
.contentP {
  height: 50px;
}
.contentP > p {
  align-items: center;
  font-size: 23px;
  font-weight: bolder;
}