<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout
        pattern="[%-5level] %d{yyyy-MM-dd} [%t] %c{1} - %msg%n" />
    </Console>
  </Appenders>
  <Loggers> 
	  <Logger name="com.myproject" additivity="false" level="debug"> <!-- com.myproject 밑에 있는 클래스를 실행할 때는 debug로 실행해라 -->
	    <AppenderRef ref="stdout" />
	  </Logger>
    <Root level="info"> <!-- 기본 레벨은 info -->
      <AppenderRef ref="stdout" />
    </Root>    
  </Loggers>
</Configuration>