.content {
  width: 1000px;
  margin: 0 auto;
}
.SigninForm{
  border: 5px double rgba(24, 183, 43, 0.357);
  width: 700px;
  margin: 100px auto;
  padding: 20px;
}
.spanTitle {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}
#socialLoginDiv{
  text-align: center;
  vertical-align: center;
}
.facebookDiv{
  width: 50px;
  cursor: pointer;
  display: inline-block;
}
.goolgleDiv{
  width: 50px;
  cursor: pointer;
  display: inline-block;
}
#facebookIcon{
  color: rgb(24, 24, 221);
  text-align: center;
}
